<!-- <!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Password reset</title>
</head>
<body>
  <p>Hello {{ user.username }},</p>
  <p>You requested a password reset for your account at {{ current_site.name }}. To reset your password, please click the following link:</p>
  <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
  <p>If you did not request a password reset, please ignore this email.</p>
  <p>Thanks,</p>
  <p>The team</p>
</body>
</html> -->

{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{% if protocol %}
{{ protocol }}://{{ domain }}{% endif %}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you have forgotten it: {{ email }}

Thanks for using our site!

The {{ site_name }} team.
{% endautoescape %}